<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#002d4d" />
  <meta name="Description" content="KEEER 是一个开发者们聚集的地方。" />
  <% if (typeof index !== 'undefined' && index) { %>
  <title>客页 | KEEER</title>
  <% } else { %>
  <title><%= title %> - 客页 | KEEER</title>
  <% } %>
  <noscript id="styles">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography@3.1.0/dist/mdc.typography.min.css" integrity="sha256-7kPG0PwJRQtdLMDKH4fYNH2l+s+jsk1wzLGVnHPWAvs=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/button@3.1.0/dist/mdc.button.min.css" integrity="sha256-KwiuDV0+yXzgCwfIdPcqFLGwXg4ZNmKMLfj3w9sHX5w=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/card@3.1.0/dist/mdc.card.min.css" integrity="sha256-ciIaOtks9juMfjdVyix7RSr0XXhFSJ+yLzH0hfvzly0=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/ripple@3.1.0/dist/mdc.ripple.min.css" integrity="sha256-NnECiaWwN/FBq2X7I5T0wMTlIlsBvE1uYs5RQzGGfEs=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/top-app-bar@3.1.0/dist/mdc.top-app-bar.min.css" integrity="sha256-E8T960tmt6CRefcHU3zOqFWCX9cxbdWcHnOeBoONxVc=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/icon-button@3.1.0/dist/mdc.icon-button.min.css" integrity="sha256-7+oiVVjs3FvOO12TXpkkE0lIKnpT2MSGXVoUcbLyKAo=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/list@3.1.0/dist/mdc.list.min.css" integrity="sha256-5As37YdjUmn/xc3kcjPd/hiQWMMm8ibIiAfa3g5hwME=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/menu@3.1.0/dist/mdc.menu.min.css" integrity="sha256-ro0k5+m/b2FRNM1yMQ03Ef7qPCUyRNn7HRauWrq+Hi4=" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/menu-surface@3.1.0/dist/mdc.menu-surface.min.css" integrity="sha256-7m2K53GaLyqenETRwmMzHLeRZPJUWLYz3X4IcQ471Nc=" crossorigin="anonymous">
  </noscript>

  <link rel="preload" href="/js/common.js" as="script">
  <link rel="preload" href="/js/vendor/css-var-polyfill.min.js" as="script">
  <link rel="preload" href="https://account.keeer.net/api/idframe" as="script">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/@material/ripple@3.1.0/dist/mdc.ripple.min.js" as="script" integrity="sha256-pfspXbsMiiLnmTafiINJdE5/EDa1/dRNIFAUTHhaRcM=" crossorigin="anonymous">
  <link rel="preload" href="https://cdn.jsdelivr.net/npm/@material/menu@3.1.0/dist/mdc.menu.min.js" as="script" integrity="sha256-Rh+y5DnfTLIJUieQqxa51rPnAbEHzdqpMaWAaVo4cz4=" crossorigin="anonymous">
  <% if (typeof preloads !== 'undefined') for (const [ href, as ] of preloads) { %><link rel="preload" href="<%- href %>" as="<%- as %>"><% } %>
  <link rel="stylesheet" href="/css/styles.css">
  <script>
  setTimeout(function () {
    var el = document.createElement('div')
    el.innerHTML = document.getElementById('styles').innerHTML.replace(/&lt;/g, '<').replace(/&gt;/g, '>')
    document.head.insertBefore(el, document.head.firstChild)
  }, 1)
  </script>
</head>
<body class="mdc-typography nojs">
  <script>document.body.classList.remove('nojs')</script>
  <% const backable = typeof back !== 'undefined' && back %>
  <% if (backable) { %><span id="back"><a href="<%- back %>" aria-label="返回" class="mdc-icon-button icon" role="button"><%- include('/img/back.svg') %></a></span><% } %>
  <span id="idframe"></span>
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed header--hidden<% if (backable) { %> backable<% } %><% if (typeof headline !== 'undefined') { %> appbar--with-headline<% } %>" id="appbar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start container">
        <span class="mdc-top-app-bar__title">
          <a class="logo--appbar appbar__logo" href="/?utm_source=topappbar"><%- include('/img/logo/light-large.svg') %></a>
          <% if (typeof headline !== 'undefined') { %>
            <a class="appbar__title appbar__link" href="#"><%= headline %></a>
          <% } %>
        </span>
      </section>
    </div>
  </header>
