<div class="mdc-card people" people>
  <a href="<%- url %>" class="mdc-card__primary-action" data-ripple tabindex="0">
    <div class="mdc-card__media mdc-card__media--square" style="background-image: url(&quot;<%- avatarUrl %>&quot;);"></div>
    <div class="mdc-card__primary">
      <h2 class="mdc-card__title mdc-typography mdc-typography--headline6"><%= name %></h2>
      <h3 class="mdc-card__subtitle mdc-typography mdc-typography--subtitle2"><%= position %></h3>
    </div>
  </a>
  <div class="mdc-card__secondary mdc-typography mdc-typography--body2"><%= introduction %></div>
</div>
