<%- include('/partial/header', { title: `${name} - 成员`, back: true }) %>
<div class="container dark header person nohide" style="background-image: url(&quot;<%- headerImageUrl %>&quot;);">
  <div>
    <div class="header-info">
      <div class="header-info__avatar-wrapper">
        <img src="/img/avatar/<%= id %>.jpg" class="header-info__avatar">
      </div>
      <div class="header-info__basics">
        <h1 class="mdc-typography mdc-typography--headline2 header-info__name"><%= name %></h1>
        <h3 class="mdc-typography mdc-typography--subtitle2 header-info__description"><%= speciality %></h3>
        <p class="mdc-typography mdc-typography--body2 person-motto"><%= motto %></p>
      </div>
    </div>
  </div>
</div>

<div class="container light">
  <div class="mdc-typography--body1">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>
<%- include('/partial/footer')%>
