<div class="mdc-card reveal<%- typeof extra !== 'undefined' && extra ? ' extra' : '' %>">
  <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url(&quot;<%- heroUrl %>&quot;);">
    <div class="mdc-card__media-content">
      <div class="mdc-card__primary">
        <h2 class="mdc-card__title mdc-typography mdc-typography--headline6"><%= name %></h2>
        <h3 class="mdc-card__subtitle mdc-typography mdc-typography--subtitle2"><%= slogan %></h3>
      </div>
    </div>
  </div>
  <div class="mdc-card__secondary mdc-typography mdc-typography--body2"><%= introduction %></div>
  <div class="mdc-card__actions">
    <div class="mdc-card__action-buttons">
      <a href="<%- productLink %>" class="mdc-button mdc-card__action mdc-card__action--button">了解详情</a>
      <a href="<%- useLink %>" class="mdc-button mdc-card__action mdc-card__action--button">开始使用</a>
    </div>
  </div>
</div>
