<%- include('/partial/header', { index: true }) %>

<div class="container dark header index align-center nohide">
  <div class="mdc-typography--body1">
    <h1 class="hidden">KEEER</h1>
    <h2 class="mdc-typography--headline2">Where Developers Meet</h2>
    <p>KEEER 是 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</div>

<div class="container light">
  <div class="mdc-typography--body1">
    <div id="products" class="anchor"></div>
    <div class="title-button">
      <h2 class="mdc-typography--headline4">产品</h2>
      <a href="/products/?utm_source=index_viewall" class="mdc-button mdc-button--unelevated" role="button">查看全部</a>
    </div>
    <div id="products-gallery">
      <% for(let product of productBrief) { %>
      <%- include('/partial/product-card', product) %>
      <% } %>
    </div>
  </div>
</div>

<div class="container dark">
  <div class="mdc-typography--body1">
    <div id="about-us" class="anchor"></div>
    <h2 class="mdc-typography--headline4">关于我们</h2>
    <p class="reveal">KEEER 初创于 2015 年，由成员 Queue Huo 和前成员 Tiger Fan 共同创立。在 Edgaru089, Alan Liang 和 Sunny Peng 三名成员加入，队伍逐渐成型。那时的我们本着要开发游戏的初心，创建了客页工作室。遗憾的是：这段时间，KEEER 共开发游戏《Traps n' Roads》（Queue 设计 Egamad 开发）一款。</p>
    <p class="reveal">2018 年里，Tiger, Edgaru089, Sunny 因故离开 KEEER；同年，Rickole Xi, Egamad Yan, Indogent Chen, Linda Lee, Tom Wu, Kevin Jin 的陆续加入使得 KEEER 拥有了前所未有的开发能力与技术水平。这使得 KEEER 的目标不再局限于游戏，而是提供优秀的软件服务。此外，成员 Alan 一直持续近三年对团队的不懈学习与付出，为 KEEER 的接下来的发展奠定了十分重要的基础。</p>
    <p class="reveal">2018 年 9 月至今，KEEER 共开发了游戏《256》（Alan 设计并开发）、《Buildhome》（Queue 设计并开发）两款；服务「自动评教」、「歌舞嘉年华官方网站」、「人大附中高考加油头像生成」、「人大附中社联在线管理系统」（均由 Alan 提出并完成开发）。</p>
    <p class="reveal">目前，我们正在着手开发两款更加出众的大项目，敬请期待！</p>
    <p class="reveal">作为学生，我们的精力与时间也许有限，但我们将用内心中无限的热情、坚实的技术与精益求精的工匠精神结合，打造出令人满意、具有价值和意义的产品。</p>
    <p class="reveal">衷心感谢每一位 KEEER 的支持者！</p>
    <p class="reveal">KEEER 一直欢迎能力过人、技术精湛、胸怀梦想的你！</p>
  </div>
</div>

<div class="container light">
  <div class="mdc-typography--body1">
    <div id="our-team" class="anchor"></div>
    <div class="title-button">
      <h2 class="mdc-typography--headline4">认识我们的团队</h2>
      <button class="mdc-button mdc-button--unelevated requirejs" id="switch-person" role="button">
        <div class="mdc-button__ripple"></div>
        <i class="mdc-button__icon" aria-hidden="true"><%- include('/img/refresh.svg') %></i>
        <span class="mdc-button__label">换一个</span>
      </button>
    </div>
    <div id="team-members">
      <% for(let person of peopleBrief) { %>
        <%- include('/partial/people-card', person) %>
      <% } %>
    </div>
  </div>
  <script src="/js/switch.js"></script>
</div>

<%- include('/partial/footer')%>
