<%- include('/partial/header', { title: '产品', back: true }) %>

<div class="container dark header products">
  <div class="background-surface-clip"><div class="background-surface"></div></div>
  <div>
    <a class="logo--headline" href="/?utm_source=products_headline"><%- include('/img/logo/light-large.svg') %></a>
    <h1 class="mdc-typography--headline2 headline">产品</h1>
  </div>
</div>

<div class="container light">
  <div class="mdc-typography--body1">
    <div id="services" class="anchor"></div>
    <h2 class="mdc-typography--headline4">服务</h2>
    <p>力争成为日常生活必需品（雾</p>
    <%- include('/partial/product-group', { productIndex, group: 'services' }) %>
  </div>
</div>

<div class="container dark games">
  <div class="background-surface-clip"><div class="background-surface"></div></div>
  <div class="mdc-typography--body1">
    <div id="games" class="anchor"></div>
    <h2 class="mdc-typography--headline4">游戏</h2>
    <p>KEEER 团队的初心，仍在继续。</p>
    <%- include('/partial/product-group', { productIndex, group: 'games' }) %>
  </div>
</div>

<div class="container light">
  <div class="mdc-typography--body1">
    <div id="tools" class="anchor"></div>
    <h2 class="mdc-typography--headline4">工具</h2>
    <p>一些小东西，可能会用到？</p>
    <%- include('/partial/product-group', { productIndex, group: 'tools' }) %>
  </div>
</div>

<div class="container dark labs">
  <div class="background-surface-clip"><div class="background-surface"></div></div>
  <div class="mdc-typography--body1">
    <div id="labs" class="anchor"></div>
    <h2 class="mdc-typography--headline4">KEEER Labs</h2>
    <p>一个存放未完成的 idea 的地方。在这里，你可以找到我们正在制作的项目，并抢先体验。</p>
    <%- include('/partial/product-group', { productIndex, group: 'labs' }) %>
  </div>
</div>

<div class="container light">
  <div class="mdc-typography--body1">
    <div id="meta" class="anchor"></div>
    <h2 class="mdc-typography--headline4">Meta</h2>
    <p>{ meta: <span style="color: rgb(0,139,139);">[Circular]</span> }</p>
    <%- include('/partial/product-group', { productIndex, group: 'meta' }) %>
  </div>
</div>

<%- include('/partial/footer')%>
